
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #99d98c; 
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
  max-width: 1000px;
  width: 95%;
  margin: 2rem auto; /* centers horizontally with top/bottom spacing */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo img{
  font-size: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: left;
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.heading{
  font-size: 10;
  margin-bottom: 15px;
  align-self: center;
  display: flex;
  justify-content: center;
  color: #003049;
}


h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  align-self: center;
}


.description {
  font-size: 25px;
  color: #333;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}


.button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
  width: auto;
  height: auto;
  border-radius: 50px;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.btn.primary {
  background-color: #669bbc; 
  color: white;
}

.btn.primary:hover {
  background-color: #15803d;
}



.btn.secondary:hover {
  background-color: #f0f0f0;
}


.footer {
  font-size: 15px;
  color: #003049;
  width: 100%;
  position: relative;
  justify-content: space-between;
  padding-top: 20px;
}


